body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    background-color: #eee;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

main > h2 {
    grid-column: 1 / -1;
}

/* Primera section (Article) a la izquierda */
main>section:first-of-type {
    grid-column: 1;
}

/* Segunda section (List) a la derecha */
main>section:nth-of-type(2) {
    grid-column: 2;
}

/* El callout que ocupe todo el ancho (las 2 columnas) */
main>.callout {
    grid-column: 1 / -1;
}

h2 {
    color: navy;
    text-align: left;
}


article p {
    text-align: justify;
}

.callout {
    color: #fff;
    background-color: #702963;
    padding: 16px;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}