
body {
    font-family: Arial, sans-serif;
    margin: 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "main   aside"
        "footer footer";
    min-height: 100vh;
}

header {
    grid-area: header; 
    background: #333;
    color: white;
}

main {
    grid-area: main; 
    background: #d9d9d9;
    padding: 1rem;
}

aside {
    grid-area: aside;
    background: white;
    padding: 1rem;
}

footer {
    grid-area: footer; background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header p {
    margin: 0;
    padding: 1rem;
}

nav {
    background: #000;
}

.navigation{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li{
    flex: 1;
    text-align: center;
}

.navigation li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}