body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.layout { 
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    min-height: 100vh;  
}

header {
    background-color: #333;
    padding: 20px;
    grid-column: 1 / 4;
}

.left-sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

main {
    background-color: #fff;
    padding: 20px;
}
.right-sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    grid-column: 1 / 4;
    background-color: #333;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}