:root {
    --blue: #1f5a7a;
    --dark: #333;
    --border: #b8b8b8;
    --bg: #ffffff;
    --accent: #ffcc00;

    --font-body: "Roboto";
    --font-title: "Merriweather", serif;;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #1f5a7a;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #bbb;
}